[submodule "Swipes/libraries/android-swipelistview"]
	path = Swipes/libraries/android-swipelistview
	url = https://bitbucket.org/felipebari/android-swipelistview.git
[submodule "Swipes/libraries/PagerSlidingTabStrip"]
	path = Swipes/libraries/PagerSlidingTabStrip
	url = https://github.com/douglasdrumond/PagerSlidingTabStrip.git
[submodule "Swipes/libraries/android-betterpickers"]
	path = Swipes/libraries/android-betterpickers
	url = https://bitbucket.org/felipebari/android-betterpickers
[submodule "Swipes/libraries/ParseUI-Android"]
	path = Swipes/libraries/ParseUI-Android
	url = https://bitbucket.org/felipebari/parseui-android.git
[submodule "Swipes/libraries/evernote-sdk-android"]
	path = Swipes/libraries/evernote-sdk-android
	url = https://bitbucket.org/felipebari/evernote-sdk-android.git
