-dontwarn javax.**
-dontwarn java.awt.**
-dontwarn junit.**

# Butterknife
-keep public class * implements butterknife.Unbinder { public <init>(...); }

-keep class butterknife.*
-keepclasseswithmembernames class * { @butterknife.* <methods>; }
-keepclasseswithmembernames class * { @butterknife.* <fields>; }

# GreenDAO
-keepclassmembers class * extends de.greenrobot.dao.AbstractDao {
    public static java.lang.String TABLENAME;
}
-keep class **$Properties

# RenderScript
-keep class android.support.v8.renderscript.** { *; }

# Gson
-keepattributes Signature
-keep class sun.misc.Unsafe { *; }
-keep class com.swipesapp.android.sync.gson.** { *; }

# Facebook
-keep class com.facebook.** { *; }

# Crashlytics
-keepattributes SourceFile, LineNumberTable

# Evernote
-dontwarn org.scribe.services.HMACSha1SignatureService
-keep class com.evernote.** { *; }

# AppCompat 21
-keep class android.support.v7.internal.view.menu.** { *; }
-keepnames class android.support.v7.internal.view.menu.** { *; }

# Google Play Services
-keep class * extends java.util.ListResourceBundle {
    protected Object[][] getContents();
}

-keep public class com.google.android.gms.common.internal.safeparcel.SafeParcelable {
    public static final *** NULL;
}

-keepnames @com.google.android.gms.common.annotation.KeepName class *
-keepclassmembernames class * {
    @com.google.android.gms.common.annotation.KeepName *;
}

-keepnames class * implements android.os.Parcelable {
    public static final ** CREATOR;
}
