<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swipesapp.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.swipesapp.android.app.SwipesApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.swipesapp.android.ui.activity.SplashActivity"
            android:theme="@style/Splash_Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.swipesapp.android.ui.activity.TasksActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.swipesapp.android.ui.activity.SettingsActivity"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.swipesapp.android.ui.activity.TasksActivity" />
        </activity>

        <activity
            android:name="com.swipesapp.android.ui.activity.IntegrationsActivity"
            android:label="@string/title_activity_integrations">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.swipesapp.android.ui.activity.SettingsActivity" />
        </activity>

        <activity
            android:name="com.swipesapp.android.ui.activity.SnoozeSettingsActivity"
            android:label="@string/title_activity_snooze_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.swipesapp.android.ui.activity.SettingsActivity" />
        </activity>

        <activity
            android:name="com.swipesapp.android.ui.activity.AboutActivity"
            android:label="@string/title_activity_about">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.swipesapp.android.ui.activity.SettingsActivity" />
        </activity>

        <activity
            android:name="com.swipesapp.android.ui.activity.EditTaskActivity"
            android:label="@string/title_activity_edit_task"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.swipesapp.android.ui.activity.TasksActivity" />
        </activity>

        <activity
            android:name="com.swipesapp.android.ui.activity.SnoozeActivity"
            android:label="@string/title_activity_edit_task"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.swipesapp.android.ui.activity.BlankActivityLight"
            android:label="@string/app_name"
            android:theme="@style/Light_Theme_Activity_Overlay" />

        <activity
            android:name="com.swipesapp.android.ui.activity.BlankActivityDark"
            android:label="@string/app_name"
            android:theme="@style/Dark_Theme_Activity_Overlay" />

        <activity
            android:name="com.swipesapp.android.ui.activity.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Login_Theme" />

        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Login_Theme">
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.APP_LOGO"
                android:resource="@drawable/splash_logo" />
        </activity>

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.evernote.client.android.EvernoteOAuthActivity"
            android:configChanges="orientation|keyboardHidden" />

        <activity
            android:name="com.swipesapp.android.ui.activity.EvernoteLearnActivity"
            android:label="@string/title_activity_evernote_learn">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.swipesapp.android.ui.activity.IntegrationsActivity" />
        </activity>

        <activity
            android:name="com.swipesapp.android.ui.activity.EvernoteAttachmentsActivity"
            android:label="@string/title_activity_evernote_attachments"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <receiver android:name="com.swipesapp.android.sync.receiver.SnoozeReceiver" />

        <receiver android:name="com.swipesapp.android.sync.receiver.SnoozeReceiver$ActionsReceiver" />

        <receiver
            android:name="com.swipesapp.android.sync.receiver.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="17aee5fa869f24b705e00dba6d43c51becf5c7e4" />
    </application>

</manifest>
