<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swipesapp.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- GCM permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Parse permissions -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <permission
        android:name="com.swipesapp.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.swipesapp.android.permission.C2D_MESSAGE" />

    <application
        android:name="com.swipesapp.android.app.SwipesApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.swipesapp.android.ui.activity.TasksActivity"
            android:label="@string/app_name"
            android:theme="@style/Tasks_Preview"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.swipesapp.android.ui.activity.AddTasksActivity"
            android:label="@string/title_activity_add_tasks"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.swipesapp.android.ui.activity.TasksActivity" />

            <intent-filter android:label="@string/title_share_intent">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter android:label="@string/title_share_intent">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter android:label="@string/title_share_intent">
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.swipesapp.android.ui.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/Settings_Preview">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.swipesapp.android.ui.activity.TasksActivity" />
        </activity>

        <activity
            android:name="com.swipesapp.android.ui.activity.OptionsActivity"
            android:label="@string/title_activity_options"
            android:theme="@style/Settings_Preview">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.swipesapp.android.ui.activity.SettingsActivity" />
        </activity>

        <activity
            android:name="com.swipesapp.android.ui.activity.IntegrationsActivity"
            android:label="@string/title_activity_integrations"
            android:theme="@style/Settings_Preview">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.swipesapp.android.ui.activity.SettingsActivity" />
        </activity>

        <activity
            android:name="com.swipesapp.android.ui.activity.SnoozeSettingsActivity"
            android:label="@string/title_activity_snooze_settings"
            android:theme="@style/Settings_Preview">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.swipesapp.android.ui.activity.SettingsActivity" />
        </activity>

        <activity
            android:name="com.swipesapp.android.ui.activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/Settings_Preview">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.swipesapp.android.ui.activity.SettingsActivity" />
        </activity>

        <activity
            android:name="com.swipesapp.android.ui.activity.EditTaskActivity"
            android:label="@string/title_activity_edit_task"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.swipesapp.android.ui.activity.TasksActivity" />
        </activity>

        <activity
            android:name="com.swipesapp.android.ui.activity.SnoozeActivity"
            android:label="@string/title_activity_snooze_task"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Login_Theme"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.APP_LOGO"
                android:resource="@drawable/splash_logo" />
        </activity>

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.evernote.client.android.EvernoteOAuthActivity"
            android:configChanges="orientation|keyboardHidden" />

        <activity
            android:name="com.swipesapp.android.ui.activity.EvernoteLearnActivity"
            android:label="@string/title_activity_evernote_learn"
            android:theme="@style/Evernote_Preview">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.swipesapp.android.ui.activity.IntegrationsActivity" />
        </activity>

        <activity
            android:name="com.swipesapp.android.ui.activity.EvernoteAttachmentsActivity"
            android:label="@string/title_activity_evernote_attachments"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <receiver android:name=".sync.receiver.NotificationsReceiver" />

        <receiver android:name=".sync.receiver.NotificationsReceiver$RemindersReceiver" />

        <receiver android:name=".sync.receiver.NotificationsReceiver$ActionsReceiver" />

        <receiver
            android:name=".sync.receiver.NotificationsHelper"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.swipesapp.android.widget.NowWidgetProvider"
            android:label="@string/now_widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/now_widget_info" />
        </receiver>

        <receiver
            android:name="com.swipesapp.android.widget.AddWidgetProvider"
            android:label="@string/add_widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/add_widget_info" />
        </receiver>

        <service
            android:name="com.swipesapp.android.widget.NowWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="17aee5fa869f24b705e00dba6d43c51becf5c7e4" />

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.swipesapp.android.sync.receiver.PushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.swipesapp.android" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
